@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --color-const:#FFFFFF;
    --color-second:#0A3871;
    --color-first:#F3F5FC;
    --color-disable:#D8DFE8;
    --font-first: 'Inter', sans-serif;
}
*{
    margin: 1vh;
    border: 0;
    padding: 0;
    max-height: 99vh;
    font-family: var(--font-first);
    font-size: 1rem;
}
body{
    background-color: var(--color-first);
    color:var(--color-second);
}
main{
    display: flex;
    justify-content: space-between;
}
textarea{
    resize: none;
}
.main_logo a{
    margin-left: 2%;
    gap: 5%;
    max-height: 5vh;
}
.main_logo img{
    width: 120px;
    height: 48px;
    object-fit: contain;
    object-position: bottom;
}
.main_text{
    margin: 10%;
    max-height: 90vmax;

}
.main_text textarea{
    background-color: var(--color-first);
    border-radius: 0;
    color: var(--color-second);
}
.main_text_warning{
    gap: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.main_text_buttons nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.main_text_buttons button{
    gap: 16px;
    padding: 10px 0;
    border: 2px solid var(--color-second);
    width: 50%;
    text-align: center;
    border-radius: 30px;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: var(--font-first);
}
.main_text_buttons_enable{
    background-color: var(--color-second);
    color: var(--color-const);
}
.main_text_buttons_disable{
    background-color: var(--color-disable);
    font: var(--color-const);
}
.main_crypt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 25vmax;
    max-height: 100vh;
    background-color: var(--color-const);
    border-radius: 20px;
    text-align: center;
}
.main_crypt_descryto textarea{
    background-color: var(--color-const);
}
.main_crypt_image {
    gap: 10%;
    margin: 2%;
    text-align: center;
}
.main_crypt_image img{
    object-fit: contain;
    object-position: bottom;
}
.main_crypt_text{
    gap: 10%;
    margin: 2%;
    text-align: center;
}
footer{
    text-align: center;
}
@media (width <= 1174px) {
    *{
        display: flex;
        flex-direction: column;
        width: auto;
    }
}
@media (width <= 933px) {
    *{
        display: flex;
        flex-direction: column;
        width: auto;
    }
}